---
import SectionContainer from '@/components/SectionContainer.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Portfolio de Mario Muñoz - Frontend Developer"
  description="Contacta con Mario Muñoz, Frontend Developer, para trabajar en tu proyecto."
>
  <main class="px-4">
    <SectionContainer class="pt-32">
      <h1 class="text-center">Página no encontrada</h1>
    </SectionContainer>
  </main>
</Layout>
