---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Intro from '../components/Intro.astro';
---

<Layout
  title="Portfolio de Mario Muñoz - Frontend Developer"
  description="Contacta con Mario Muñoz, Frontend Developer, para trabajar en tu proyecto."
>
  <main class="px-4">
    <SectionContainer class="py-24 md:py-40">
      <Intro />
    </SectionContainer>
    <div class="space-y-24 md:space-y-28">
      <SectionContainer class=""> Hola 1 </SectionContainer>
      <SectionContainer class=""> Hola 2 </SectionContainer>
    </div>
  </main>

  <style>
    main {
    }
  </style>
</Layout>
