---
import FadeIn, { AnimationName } from './FadeIn.astro';
---

<FadeIn animation={AnimationName.FADE_IN_UP} showOnScroll={true} duration="1s">
  <article
    class={`
      text-pretty
      text-lg
      leading-7
      [&>p>strong]:font-normal
      [&>p>strong]:text-secondary [&>p]:mb-7
    `}
  >
    <p>
      Soy Mario, un desarrollador web con sede en Málaga con <strong
        >más de tres años de experiencia en el campo.</strong
      >
    </p>
    <p>
      Mi viaje en el mundo del desarrollo comenzó como una aventura incierta, pero rápidamente me di
      cuenta de que era mi verdadera vocación. Desde entonces, <strong
        >he trabajado en una amplia gama de proyectos, desde sitios web hasta aplicaciones web
        complejas</strong
      >, adquiriendo una valiosa experiencia en el proceso.
    </p>
    <p>
      <strong>Mi enfoque principal es el desarrollo frontend.</strong> También tengo experiencia en el
      desarrollo backend con Python y Node, lo que me permite crear aplicaciones web completas de principio
      a fin.
    </p>
    <p>
      <strong>Destaco por mi responsabilidad y compromiso en el trabajo.</strong> Siempre busco dar lo
      mejor de mí en cada proyecto, asegurándome de cumplir con los plazos y mantener la calidad del
      trabajo al más alto nivel.
    </p>
    <p>
      Estoy constantemente buscando aprender y mejorar mis habilidades para ofrecer soluciones
      innovadoras y eficientes. <strong
        >Si buscas a alguien que pueda manejar cualquier aspecto del desarrollo web con pasión y
        dedicación</strong
      >, ¡soy la persona que necesitas!
    </p>
  </article>
</FadeIn>
