<a
  class={`
    font-inter bg-primary
    inline-flex
    items-center
    justify-center
    text-white
    font-semibold
    text-base
    py-2 gap-2
    px-7 rounded-lg
    `}
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
