---
export interface Props {
  href: string;
  className: string;
}

const { href, className } = Astro.props;
---

<a
  href={href}
  class=`inline-flex
    cursor-pointer
    items-center
    justify-center
    gap-2
    rounded-lg
    px-5 py-2 
    font-inter text-sm font-semibold
    text-white
    transition md:px-7 md:text-base 
    ${className || ''}`
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
