<a
  class={`
    font-inter 
    inline-flex
    items-center
    justify-center
    text-white
    font-semibold
    py-2 px-5 md:px-7 
    gap-2 rounded-lg
    cursor-pointer
    text-sm md:text-base transition 
    opacity-100 dark:md:hover:opacity-90 md:hover:opacity-70 
    ${Astro.props.class}
    `}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
