---
import { SOCIAL_BUTTONS } from '@/constants/social-buttons';
---

<footer class="w-full text-md font-inter mt-24 px-4">
  <div
    class="flex justify-between items-center mx-auto md:max-w-3xl lg:max-w-4xl py-10 border-t border-t-gray-200"
  >
    © 2024 Mario Muñoz
    <ul class="flex items-center gap-6">
      {
        SOCIAL_BUTTONS.map(link => (
          <>
            <li>
              <a href={link.url} target="_blank" aria-label={link.name}>
                <link.icon class="h-8" />
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</footer>
