---
import SOCIAL_BUTTONS from '@/constants/social-buttons';
---

<footer class="text-md mt-12 w-full px-4 font-inter md:mt-24">
  <div
    class="mx-auto
      flex
      items-center justify-between
      border-t border-t-gray-200
      py-10
      md:max-w-3xl lg:max-w-4xl"
  >
    © 2024 Mario Muñoz
    <ul class="flex items-center gap-6">
      {
        SOCIAL_BUTTONS.map(link => (
          <li>
            <a href={link.url} target="_blank" aria-label={link.name}>
              <link.icon class="h-8" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
