---
import GithubIcon from '@/components/icons/Github.astro';
import LinkedinIcon from '@/components/icons/Linkedin.astro';
import EmailIcon from '@/components/icons/Email.astro';
---

<footer class="w-full text-lg font-inter mt-24 px-4">
  <div
    class="flex justify-between items-center mx-auto md:max-w-3xl lg:max-w-4xl py-10 border-t border-t-gray-200"
  >
    © 2024 Mario Muñoz
    <ul class="flex items-center gap-6">
      <li>
        <a
          href="https://github.com/MarioMS90"
          target="_blank"
          aria-label="Github"
        >
          <GithubIcon class="h-8" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/mario-m-5903a4a6/"
          target="_blank"
          aria-label="Linkedin"
        >
          <LinkedinIcon class="h-8" />
        </a>
      </li>
      <li>
        <a
          href="mailto:j.mario.msx@gmail.com"
          target="_blank"
          aria-label="Email"
        >
          <EmailIcon class="h-8" />
        </a>
      </li>
    </ul>
  </div>
</footer>
