---
import { Image } from 'astro:assets';
import marioImage from '../assets/mario.webp';
import Badge from '@/components/Badge.astro';
import Button from '@/components/Button.astro';
import { SOCIAL_BUTTONS } from '@/constants/social-buttons';
---

<div
  class="max-w-[746px] flex flex-col-reverse md:flex-row items-start md:items-center md:justify-between relative"
>
  <div class="max-w-lg">
    <a
      href="https://www.linkedin.com/in/mario-m-5903a4a6/"
      target="_blank"
      rel="noopener noreferrer"
      class="block transition md:hover:scale-105 md:mb-6 absolute md:static top-6 left-28"
    >
      <Badge>Disponible para empleo</Badge>
    </a>
    <h2 class="font-inter text-xl font-medium text-secondary">Hola! Soy</h2>
    <h1 class="font-inter text-5xl font-bold">Mario Muñoz</h1>
    <p
      class="text-2xl
            font-semibold
            leading-8 py-6 md:py-7
            [&>strong]:text-secondary [&>strong]:font-semibold"
    >
      Un apasionado desarrollador especializado en
      <strong>frontend con +3 años de experiencia</strong> y con sede en Málaga,
      España.
    </p>
    <div class="flex items-center gap-2 md:gap-7">
      {
        SOCIAL_BUTTONS.map(link => (
          <Button
            href={link.url}
            class="md:hover:animate-pop md:hover:opacity-100 dark:bg-black-1 bg-primary">
            <link.icon class={`size-4 text-secondary ${link.iconClass}`} />
            {link.name}
          </Button>
        ))
      }
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="size-20 md:size-44 mb-4 md:mb-0 rounded-full overflow-hidden">
      <Image
        class="size-full object-cover"
        src={marioImage}
        alt="Mario Muñoz Frontend Developer"
        loading="eager"
      />
    </div>
  </div>
</div>
