---
export interface experience {
  id: string;
  className: string;
}

const { id, className } = Astro.props;
---

<section id={id} class=`
  mx-auto
  lg:max-w-4xl md:max-w-3xl 
  ${className}`>
  <slot />
</section>
