<h2
  class="font-primary
    mb-11
    flex items-center gap-4
    text-3xl font-bold"
>
  <span class="size-10 animate-fade-in text-secondary opacity-0">
    <slot name="icon" />
  </span>
  <span class="animate-fade-in-right opacity-0">
    <slot />
  </span>
</h2>
