---
import STACK from '@/constants/stack-items';
import StackElement from './StackElement.astro';

const stackGroups = [
  {
    title: 'Lenguajes',
    items: STACK.LANGUAGES,
  },
  {
    title: 'Frameworks',
    items: STACK.FRAMEWORKS,
  },
  {
    title: 'Herramientas',
    items: STACK.TOOLS,
  },
];
---

<div class="space-y-12">
  {
    stackGroups.map(stackGroup => (
      <div class="stack-group">
        <h3
          class="mb-7 
            font-inter 
            text-xl font-semibold text-primary 
            dark:text-white">
          {stackGroup.title}
        </h3>
        <ul class="flex flex-wrap gap-8">
          {stackGroup.items.map(item => (
            <li>
              <StackElement>
                <item.icon class="h-7" />
                {item.name}
              </StackElement>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
