---
import { STACK } from '@/constants/stack-items';
import StackElement from './StackElement.astro';

const stackGroups = [
  {
    title: 'Lenguajes',
    items: STACK.LANGUAGES,
  },
  {
    title: 'Frameworks',
    items: STACK.FRAMEWORKS,
  },
  {
    title: 'Herramientas',
    items: STACK.TOOLS,
  },
];
---

<div class="space-y-12">
  {
    stackGroups.map(stackGroup => (
      <div class="stack-group">
        <h3 class="mb-7 text-xl font-inter font-semibold text-primary dark:text-white">
          {stackGroup.title}
        </h3>
        <ul class="flex gap-8 md:gap-10 flex-wrap">
          {stackGroup.items.map(item => (
            <li>
              <StackElement>
                <item.icon class="h-7 md:h-8" />
                {item.name}
              </StackElement>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
