<div
  class={`
    flex
    h-[90px] w-[96px]
    flex-col items-center justify-center gap-2
    rounded-xl
    bg-white
    font-inter text-sm font-medium
    shadow-md
    motion-safe:hover:animate-pop
    dark:bg-black-1
  `}
>
  <slot />
</div>
