<div
  class=`
  w-[96px] h-[90px] 
  md:w-[105px] md:h-[100px] 
  font-inter font-medium 
  text-sm bg-white 
  rounded-xl shadow-md 
  flex flex-col gap-2 
  justify-center 
  items-center md:hover:animate-pop`
>
  <slot />
</div>
