<div
  class="flex
  h-[90px] w-[96px]
  flex-col items-center justify-center gap-2
  rounded-xl
  bg-white
  font-inter text-sm font-medium
  shadow-md hover:animate-pop
  md:h-[100px] md:w-[105px]
  dark:bg-black-1"
>
  <slot />
</div>
