---
import '@fontsource-variable/inter';
import '@fontsource-variable/open-sans';

import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    --color-primary: #1c3144;
    --color-secondary: #ff9f1c;
    --color-black-1: #333333;
    --color-background: #f2f5fa;
    --color-background-dark: linear-gradient(to bottom, #2e547d, #1c3144);
    scroll-behavior: smooth;

    &.dark body {
      background: var(--color-background-dark);
      color: white;
    }
  }

  body {
    font-family: 'Open Sans Variable', system-ui, sans-serif;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    color: var(--color-primary);
  }

  @media (prefers-reduced-motion: reduce) {
    body {
      scroll-behavior: auto;
    }
  }
</style>
